[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
minio = "*"
python-multipart = "*"
uvicorn = "*"
wheel = "*"
setuptools = "*"

[dev-packages]
black = "*"
pytest = "*"
coverage = "*"
flake8 = "*"
requests = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true