[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"

[dev-packages]
black = "*"
flake8 = "*"
requests = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true